.mapbox {
  border-radius: 15px;
  border: 1px solid rgba(54, 108, 107, 0.4);
  background: #FFF;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.09);
  min-height: 280px;
  height: 100%;
  width: 100%;
  transition: all 250ms linear;
  cursor: pointer;
  padding: 10px;
}

.mapbox:hover {
  border: 1px solid rgba(5, 201, 241, 0.4);
  box-shadow: 0px 4px 16px 0px #013738;
}

.max_width_para {
  max-width: 250px;
}

/* todo task */
.todos {
  color: #020617;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.input_full_border {
  border-radius: 8px;
  border: 1px solid #E2E8F0;
  background: var(--White, #FFF);
  max-width: 480px;
  width: 100%;
  padding: 5px 8px;
}

.input_border {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  outline: none;
  font-family: "Inter", sans-serif;
  outline: none;
  border: none;
}

.task_btn {
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 12px;
  font-family: "Inter", sans-serif;
  border-radius: 8px;
  background: #2563EB;
  width: 80px;
  border: none;
}

.delete_btn {
  outline: none;
  border: none;
  background-color: white;
  color: white;
}

.check_btn {
  outline: none;
  border: none;
  background-color: white;
}

.map_border {
  border: 1px solid #E2E8F0;
  background: #FFF;
  border-radius: 10px;
}

.border_full_box {
  border-radius: 8px;
  border: 1px solid #E2E8F0;
  background: #FFF;
  width: 450px;
  padding: 29px 26px;
}

.edit_btn {
  color: #FFF;
  margin-left: 6px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 4px 10px;
  font-family: "Inter", sans-serif;
  border-radius: 8px;
  background: #2563EB;
  border: none;
}

.edit_change_class {
  border: none;
  outline: none;
}

.error_one {
  top: 30px;
  font-size: 14px;
}

.error_two {
  top: 83px;
  font-size: 14px;
}

.error_three {
  bottom: 30px;
  font-size: 14px;
}

.cl_width_set{
  max-width: 300px;
}

.scrollTop {
  position: fixed;
  width: 40px;
  bottom: 20px;
  padding: 9px;
  right: 20px;
  align-items: center;
  height: 40px !important;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  color: white;
  background: #F1AC73;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

.scrollTop:hover {
  background: white;
  color: #F1AC73;
  box-shadow: 0px 4px 25px #F1AC73;
}